* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,
form,
textarea {
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-silver: #c0c0c0;
  --color-green: #4e6c50;
  --color-orange: #c38133;
  --color-lightgray: #999;
  --color-lightblue: #adbbe3;
  --color-blue: #3c4cc7;
  --color-offwhite: #f2efe6;
  --gap: 2.125rem;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  margin-inline: 32px;
  margin-top: 5rem;
}
.container {
  padding-inline: 15px;
  width: 100%;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}
body {
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
header {
  padding: 1.875rem 2vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 10000;
  pointer-events: none;
}
.page-logo {
  font-size: 1.5rem;
}
.main__button {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  border: 0;
  background: none;
  color: #000;
  font-size: 1rem;
  font-weight: 700;
  margin: 0rem;
  text-transform: uppercase;
  transition: transform 0.25s cubic-bezier(0.45, 0.02, 0.09, 0.98) 0s;
  position: relative;
  cursor: pointer;
}
.main__button::before {
  content: "";
  position: absolute;
  left: 0.5rem;
  top: 0.25rem;
  width: 0.5rem;
  height: 0.5rem;
  opacity: 0;
  border-radius: 100vh;
  background-color: var(--color-orange);
  transition: opacity 0.25s cubic-bezier(0.45, 0.02, 0.09, 0.98) 0s,
    left 0.25s cubic-bezier(0.45, 0.02, 0.09, 0.98) 0s;
}
.main__button:hover {
  transform: translateX(1rem);
}
.main__button:hover::before {
  left: -1rem;
  opacity: 1;
}

/* NAV BAR STYLE */

#nav-links:has(#active) #active {
  transform: translateX(1rem);
  position: relative;
}
#nav-links:has(#active) #active::before {
  content: "";
  position: absolute;
  left: -1rem;
  top: 0.5rem;
  opacity: 1;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100vh;
  background-color: var(--color-blue);
}
#nav-toggle {
  display: none;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes menu-popup {
  0% {
    transform: translate(-20px, 30px) scale(0.85) rotate(-20deg);
  }
  25% {
    transform: translate(45px, 46px) scale(1) rotate(55deg);
  }
  50% {
    transform: translate(45px, 46px) scale(1) rotate(55deg);
  }
  75% {
    transform: translate(45px, 46px) scale(1) rotate(55deg);
  }
  100% {
    transform: translate(15px, 78px) scale(0.85) rotate(96deg);
  }
}
#nav-toggle-btn {
  width: 6rem;
  aspect-ratio: 1;
  position: fixed;
  z-index: 500;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  background-color: var(--color-orange);
  border: none;
  border-radius: 100vw;
  outline: none;
  box-shadow: 0rem 0rem 4rem rgb(0 0 0 / 35%);
  cursor: pointer;
  transition: transform, background-color;
  transition-timing-function: ease;
  transition-duration: 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav-toggle-btn:hover {
  transform: translateX(-50%) scale(1.04);
}
#nav-toggle-btn:active {
  transform: translateX(-50%) scale(0.96);
}
text {
  font-size: 1.6rem;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: -0.12em;
  color: rgba(0, 0, 0, 0.8);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  user-select: none;
  pointer-events: none;
}
.menu__label {
  position: absolute;
  z-index: 400;
  right: 0;
  top: -1.5em;
  mix-blend-mode: difference;
  transform: translate(-20px, 30px) scale(0.85) rotate(-20deg);
  transition: transform 350ms;
  transform-origin: 50% 50%;
  animation: menu-popup 3350ms ease 1s infinite;
}
#nav-toggle-btn:hover .menu__label {
  transform: translate(45px, 46px) scale(1) rotate(55deg);
  animation: none;
}
body:has(.nav__wrapper[aria-expanded="true"]) .menu__label {
  display: none;
}
.menu__label > span {
  display: inline-block;
}
.label-letter {
  position: relative;
  transform: rotate(3.75deg);
}
.label-letter1 {
  position: relative;
  top: 1px;
  transform: rotate(17.5deg);
}
.label-letter2 {
  position: relative;
  top: 7px;
  transform: rotate(32.25deg);
}
.label-letter3 {
  position: relative;
  left: -2px;
  top: 16px;
  transform: rotate(38deg);
}
.menu__lable-close {
  display: none;
  position: absolute;
  z-index: 400;
  right: 0px;
  top: -1.5em;
  transform: translate(45px, 46px) rotate(55deg);
  color: rgba(240, 240, 240, 0.8);
}
body:has(.nav__wrapper[aria-expanded="true"]) .menu__lable-close {
  display: block;
}
.menu__lable-close > span {
  display: inline-block;
}
.close-letter {
  position: relative;
  top: 2px;
  left: -1px;
  transform: rotate(3.75deg);
}
.close-letter1 {
  position: relative;
  top: 3px;
  transform: rotate(13.5deg);
}
.close-letter2 {
  position: relative;
  top: 5px;
  transform: rotate(20.25deg);
}
.close-letter3 {
  position: relative;
  left: -1px;
  top: 10px;
  transform: rotate(32deg);
}
.close-letter4 {
  position: relative;
  left: -3px;
  top: 17px;
  transform: rotate(43deg);
}
body:has(.nav__wrapper[aria-expanded="true"]) #nav-toggle-btn {
  background-color: var(--color-blue);
}
.nav__background {
  position: fixed;
  transform-origin: center;
  inset: 0 0 60px 0;
  z-index: 229;
  transform: translateX(100%);
}
body:has(.nav__wrapper[aria-expanded="true"]) .nav__background {
  transform: translateX(0);
  background-color: rgba(0 0 0 / 0%);
  transition: background-color 450ms ease;
  margin: 2rem;
}
main {
  transition: transform 0.65s cubic-bezier(0.45, 0.02, 0.09, 0.98) 0s;
}
body:has(.nav__wrapper[aria-expanded="true"]) {
  overflow: hidden;
}
body:has(.nav__wrapper[aria-expanded="true"]) main {
  transform: translateY(-450px);
}
.nav__wrapper[aria-expanded="true"] {
  transform: translateY(0);
}
.nav__wrapper {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0px;
  background-color: #000;
  width: 100%;
  height: 450px;
  z-index: 400;
  transform: translateY(100%);
  transition: transform 0.65s cubic-bezier(0.45, 0.02, 0.09, 0.98) 0s;
  overflow: hidden;
}
#transform {
  position: absolute;
  left: 0;
  transition: transform 0.65s 0s;
}
#nav-links {
  --gap: 1rem;
  display: flex;
  position: absolute;
  left: 0;
  gap: var(--gap);
  margin-top: 4vh;
  height: fit-content;
  padding: 0 var(--gap);
  transform: scale(0.9) translateY(-120%);
  transition: transform 0.65s cubic-bezier(0.45, 0.02, 0.09, 0.98) 0s;
}

body:has(.nav__wrapper[aria-expanded="true"]) #nav-links {
  transform: translateY(0%) scale(1);
}

#nav-links > .nav-link {
  text-decoration: none;
  width: 25vw;
  height: fit-content;
  aspect-ratio: 71 / 38;
}
#nav-links > .nav-link > .nav-link-label {
  color: white;
  font-size: 1.25rem;
  margin: 0rem;
  text-transform: uppercase;
  transition: transform 0.25s cubic-bezier(0.45, 0.02, 0.09, 0.98) 0s;
  position: relative;
}
.nav-link-label::before {
  content: "";
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  opacity: 0;
  border-radius: 100vh;
  background-color: var(--color-orange);
  transition: opacity 0.25s cubic-bezier(0.45, 0.02, 0.09, 0.98) 0s,
    left 0.25s cubic-bezier(0.45, 0.02, 0.09, 0.98) 0s;
}
.nav-link:hover .nav-link-label {
  transform: translateX(1rem);
}
.nav-link:hover .nav-link-label::before {
  left: -1rem;
  opacity: 1;
}
#nav-links > .nav-link > .nav-link-image {
  width: 100%;
  aspect-ratio: 1.8 / 1;
  border-radius: 0.2rem;
  margin-top: 0.75rem;
  object-fit: cover;
  transition: transform 0.25s cubic-bezier(0.45, 0.02, 0.09, 0.98) 0s;
}
#nav-links > .nav-link > .nav-link-image:hover {
  transform: scale(0.99);
}

@media only screen and (max-width: 1100px) {
  #nav-links {
    --gap: 0.879rem;
  }
  #nav-links > .nav-link > .nav-link-image {
    aspect-ratio: 71 / 48;
  }
}
@media (max-width: 650px) {
  #nav-links > .nav-link > .nav-link-image {
    aspect-ratio: 15 / 25;
  }
  #nav-toggle-btn {
    bottom: 1rem;
  }
}

@media (max-width: 600px) {
  #nav-links > .nav-link > .nav-link-label {
    font-size: 0.8rem;
    font-weight: bolder;
  }
  .nav-link-label::before {
    top: 0.3rem;
    width: 0.5em;
    height: 0.5em;
  }
  #nav-links:has(#active) #active::before {
    top: 0.3rem;
    width: 0.5em;
    height: 0.5em;
  }
}
@media (min-width: 1600px) {
  .nav__wrapper {
    height: 550px;
  }
}
i {
  font-size: 25px;
}
/* TILE STYLE */

#gallery {
  height: 140vmax;
  width: 140vmax;
  position: absolute;
}

.tile {
  border-radius: 3px;
  position: absolute;
  transition: transform 800ms ease;
  aspect-ratio: 2/3;
}

.tile:hover {
  transform: scale(1.1);
}

.tile > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
  opacity: 1;
  transition: opacity 800ms ease, transform 800ms ease;
}
.tile:hover > img {
  opacity: 1;
  transform: scale(1.01);
}
.tile:nth-child(1) {
  background-color: rgb(255, 238, 88);
  height: 14%;
  width: 20%;
  left: 5%;
  top: 5%;
}

.tile:nth-child(2) {
  background-color: rgb(66, 165, 245);
  height: 24%;
  width: 14%;
  left: 42%;
  top: 12%;
}

.tile:nth-child(3) {
  background-color: rgb(239, 83, 80);
  height: 18%;
  width: 16%;
  left: 12%;
  top: 34%;
}

.tile:nth-child(4) {
  background-color: rgb(102, 187, 106);
  height: 14%;
  width: 12%;
  left: 45%;
  top: 48%;
}

.tile:nth-child(5) {
  background-color: rgb(171, 71, 188);
  height: 16%;
  width: 32%;
  left: 8%;
  top: 70%;
}

.tile:nth-child(6) {
  background-color: rgb(255, 167, 38);
  height: 24%;
  width: 24%;
  left: 68%;
  top: 8%;
}

.tile:nth-child(7) {
  background-color: rgb(63, 81, 181);
  height: 16%;
  width: 20%;
  left: 50%;
  top: 74%;
}

.tile:nth-child(8) {
  background-color: rgb(141, 110, 99);
  height: 24%;
  width: 18%;
  left: 72%;
  top: 42%;
}

.tile:nth-child(9) {
  background-color: rgb(0, 0, 0);
  height: 17%;
  width: 13%;
  left: 81%;
  top: 78%;
}
h1 {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: -0.04rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
p {
  font-size: 0.768em;
  letter-spacing: -0.04rem;
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: 0.248rem;
}
.dot {
  margin-inline: 0.265rem;
  font-weight: bolder;
}
p > span {
  font-weight: bold;
}
